@font-face {
    font-family: RobotoSlab;
    src: url(RobotoSlab-Regular.ttf);
}

body {
	background-color: lightgrey;
}

h1 { 
	color: #373737;
	text-align: center;
	font-family: "RobotoSlab", Sans-serif;
 }

a:link {
	font-size: 20px;
	color: #373737;
	font-family: "RobotoSlab", Sans-serif;
	text-decoration: none;
}

a:visited {
	font-size: 20px;
	color: #6D7993;
	font-family: "RobotoSlab", Sans-serif;
	text-decoration: none;
}

img.resize {
	display: block;
	margin: auto;
	max-width: 50%;
	max-height: 50%;
}